#debug {
	overflow: hidden;
	height: 100vh;

	#treeview {
		background: lightgrey;
		height: 50vh;
		padding: 20px;
		box-sizing: border-box;

		> ul {
			margin: 0;
			display: inline-block;
			vertical-align: top;
			height: 100%;
			overflow: auto;
			width: 33vw;
		}
	}

	#details {
		height: 50vh;

		#preview {
			background:#424242;
			width: 50vw;
			height: 100%;
			overflow: auto;
			float: left;

			canvas {
				height: 90%;
				background: transparent;
				display: block;
				margin: auto;
			}
		}

		#infos {
			background: #333333;
			height: 100%;
			width: 50vw;
			overflow: auto;
		}
	}

	@import 'debug/playpal';
	@import 'debug/colormap';
}

// #debug {
// 	overflow: auto;
// 	max-height: 100vh;

// 	.lumps {
// 		display: inline-block;
// 		background: lightgreen;
// 		width: 20vw;
// 		list-style: none;
// 		padding: 0;
// 		margin: 0;
// 		max-height: 100vh;
// 		overflow: auto;
// 		vertical-align: top;

// 		li {
// 			padding: 10px;
// 			cursor: pointer;

// 			&:not(.group):hover {
// 				background:lawngreen;
// 			}

// 			&.group ul {
// 				display: none;
// 			}
// 		}

		
// 	}

// 	.debug-container {
// 		display: inline-block;
// 		width: calc(100vw - 21vw);
// 		height: 100vh;
// 		padding: 10px;
// 		vertical-align: top;
// 		box-sizing: border-box;
// 		overflow: auto;
// 	}
// }

// /*PLAYPAL*/
// #playpal .swatch {
// 	display: inline-block;
// 	vertical-align: top;
// 	margin: 5px;
// 	background:whitesmoke;
// 	width: 256px;
// 	box-sizing: border-box;
// }

// #playpal .swatch .item {
// 	width: 16px;
// 	height: 16px;
// 	float: left;
// }

// /*COLORMAP*/
// #debug .debug-container.colormap .swatch {
// 	float:left;
// 	vertical-align: top;
// 	/*margin: 5px;*/
// 	/*background:whitesmoke;*/
// 	/*padding: 1px;*/
// 	/*width: calc(50% - 10px);*/
// 	box-sizing: border-box;
// }
// #debug .debug-container.colormap .swatch .item {
// 	width: 8px;
// 	height: 8px;
// }

// /*ENDOOM*/
// #debug .debug-container.endoom { height: auto; }

// #debug .debug-container.endoom .item {
// 	float: left;
// 	width: 8px;
// 	height: 8px;
// }

// #debug .debug-container.endoom .item:nth-child(25n) {
// 	float: none;
// }

// #debug  canvas {
// 	position: static;
// 	margin: auto;
// 	background: black;
// }
