body {
	background: lightblue;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#debug {
	overflow: auto;
	max-height: 100vh;
	
}

#debug .lumps {
	display: inline-block;
	background: lightgreen;
	width: 20vw;
	list-style: none;
	padding: 0;
	margin: 0;
	max-height: 100vh;
	overflow: auto;
	vertical-align: top;
}

#debug .lumps li {
	padding: 10px;
	cursor: pointer;
}

#debug .lumps li:hover {
	background:lawngreen;
}

#debug .debug-container {
	display: inline-block;
	width: calc(100vw - 21vw);
	height: 100vh;
	padding: 10px;
	vertical-align: top;
	box-sizing: border-box;
	overflow: auto;
}

/*PLAYPAL*/
#debug .debug-container.playpal .swatch {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	background:whitesmoke;
	padding: 1px;
	width: calc(50% - 10px);
	box-sizing: border-box;
}

#debug .debug-container.playpal .swatch .item {
	width: 16px;
	height: 16px;
	float: left;
}

/*COLORMAP*/
#debug .debug-container.colormap .swatch {
	float:left;
	vertical-align: top;
	/*margin: 5px;*/
	/*background:whitesmoke;*/
	/*padding: 1px;*/
	/*width: calc(50% - 10px);*/
	box-sizing: border-box;
}
#debug .debug-container.colormap .swatch .item {
	width: 8px;
	height: 8px;
}

canvas {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
}